html
{
    background-color: white;
    font-family: Geogia,Garamond, serif;
    padding: 5%;
    font-size: 100%;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Helvatica;
    padding: 20px;
    background: white;
    text-align: left;
    margin-left: 50px;
    font-size:20px;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 40px;
    text-align: center;
    color: red;
}

.left {
    font-size: 20px;
    text-align: left;
}
h2{
    font-size:24px;
    font-family: Helvatica;
    text-align:center;
    color: white;
    background-color: #115;
}
h3{
    font-size:18px;
    font-family: Helvatica;
    text-align:center;
    color: white;
    font-weight: bold;
}
h3 span{
  background-color: grey;
}
h4{
    font-size:24px;
    font-family: Helvatica;
    text-align:center;
    color: white;
    background-color: #152;
}
h5{
    font-size:18px;
    font-family: Garamond;
    text-align:center;
    color: red;
    font-weight: bold;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Fake image */
img {
    background-color: white;
    width: 100%;
    padding: 10px;
    border-style: round;
}
/* Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.c {
    list-style-type: disc;
    text-align: justify;
    color: white;
    background-color: white;
}

ol {
  background: white;
  padding: 20px;
}


ol li {
  background: white;
  padding: 5px;
  margin-left: 35px;
}


li {
    float: left;
}

li1 {
    float: center;
    background-color:#333
}
li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li l {
    list-style-type: disc;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li1 a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li2 a {
    list-style-position: inside;
    list-style-type: disc;
    display:list-item;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}
li3 a {
/*    list-style-position: inside;*/
    list-style-type: disc;
    display:list-item;
/*     color: blue;*/
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

li4 a {
    list-style-position: inside;
    list-style-type: disc;
    display:list-item;
    background:gray;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}



li a1 {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: green;
}

li a1:hover:not(.active) {
    background-color: #111;
}
li1 a:hover:not(.active) {
    background-color: #111;
}

li1 a1:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
/* Paragraph */
p1 {
 text-align: justify;
 font-family: Helvatica;
}

p2 {
text-align:center;
font-family:Helvatica;
color: red;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    color: red;
    text-align:center;
}
.card1 {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    color: red;
    text-align:center;
}
.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  text-align: center;
  font-family: Helvatica;
  background-color: lightgrey;
}
div.ex1 {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: white;
  width: 49%;
  height: 300px;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
div.ex2 {
  display: inline-block;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  width: 49%;
  height: 300px;
  overflow: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.title {
  color: blue;
  font-weight: bold;
  font-family: Helvatica;
  font-size: 18px;
  background-color: lightgrey;
}
.name{
  color: black;
  font-size: 18x;
  font-weight:bold;
}
.flash {
    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    font-size: 20px;
    text-align:center;

}

@keyframes flash {
    from {color: red;}
    to {color: green;}
}

.flash p3 {
    font-family: Helvatica

}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
    border-top:2px solid blue;
}

#footer h6
{
    color: black ;
    text-transform:uppercase;
    font-size:55%;
}
table {
    width:100%;
}
table#t01 tr:nth-child(even) {
    table-align: center;
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
#footer h4
{
    color: blue ;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    ul a {
        float: none;
        width: 100%;
    }
}
